<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557423958550-uhhjpeut6a4e9jsb8k91hajp81j05fko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557423958550-uhhjpeut6a4e9jsb8k91hajp81j05fko</string>
	<key>API_KEY</key>
	<string>AIzaSyA2gHFj-cPb73n5g0W3DLMu_-zdI8o5mXI</string>
	<key>GCM_SENDER_ID</key>
	<string>557423958550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nec.trackthebus</string>
	<key>PROJECT_ID</key>
	<string>track-the-bus-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>track-the-bus-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557423958550:ios:fa6a8f05b9cdd09099f337</string>
</dict>
</plist>